.head {
   margin-top: 10em;
   display: flex;
   flex-direction: row;
}

.sarchwrapper {
    width: 50vw;
}

.adduser {
    margin-left: 20px;
}

.add{
    width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 10px; 
}

.add:hover {
    background: linear-gradient(45deg, green, lightgreen);
}

.saerchinput {
    width: 100%;
    height: 2em;
    border: 2px solid #ccc;
    border-radius: 10px; 
}

.root {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.table {
    margin-top: 2em;
    width: 80vw;
}

.table th,
.table td {
    border: 3px solid #ccc;
}

.edit {
    width: 100%;
}

.delete {
    width: 100%;
}

.edit:hover {
    background: linear-gradient(45deg, green, lightgreen);
}

.delete:hover {
    background: linear-gradient(45deg, red, lightcoral);
}

.refreshbutton {
    width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.refreshbutton:hover {
    background: linear-gradient(45deg, grey, lightgrey);
    width: 100%;
}

.refreshwrapper {
    width: 80vw;
}
